@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ABOGADOS DE REFUERZO MINTIC</h1>
    <p>Somos la firma de abogados y de tecnologia más confiable</p>
</div>
