@page
@model Proyecto.SitioWeb.App.Pages.DeleteModel
@{
   
}

 <h1>Borrar Cliente</h1>

 <form method="post">

    <!--asignar el id del cliente a borrar-->

    <input type="hidden" asp-for="cliente.clienteId"/>
     <h1>Está seguro de borrar el cliente @Model.cliente.nombre @Model.cliente.apellido ?</h1>
    <input type="submit" value="Borrar" class="btn btn-danger"/>
    <a asp-page='/Cliente/List'>Devuelta a la lista</a>
 </form>

