@page
@model Proyecto.SitioWeb.App.Pages.EditModel
@{

}

<h1>Editar Cliente</h1>

<!--Formulario edición cliente-->

    
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>


<!--atributo nombre*-->

    <div class="form-group">
        <label asp-for="cliente.nombre" class="control-label"></label>
        <input asp-for="cliente.nombre" class="form-control"/>
        <span asp-validation-for="cliente.nombre" class="text-danger"></span>
    </div>

<!--atributo apellido-->

    <div class="form-group">
        <label asp-for="cliente.apellido" class="control-label"></label>
        <input asp-for="cliente.apellido" class="form-control"/>
        <span asp-validation-for="cliente.apellido" class="text-danger"></span>
    </div>

<!--atributo edad-->

    <div class="form-group">
        <label asp-for="cliente.edad" class="control-label"></label>
        <input asp-for="cliente.edad" class="form-control"/>
        <span asp-validation-for="cliente.edad" class="text-danger"></span>
    </div>
     
<!--atributo genero-->

    <div class="form-group">
        <label asp-for="cliente.genero" class="control-label"></label>
        <input asp-for="cliente.genero" class="form-control"/>
        <span asp-validation-for="cliente.genero" class="text-danger"></span>
    </div>

 <div class="form-group">
        <label asp-for="cliente.pais.nombrePais" class="control-label"></label>
        <select asp-form="cliente.paisId" class="form-control">
            @foreach (var pais in Model.paises)
            {
                <option value="@pais.paisId">@pais.nombrePais</option>
            }
        </select>
            <span asp-validation-for="cliente.pais.nombrePais" class="text-danger"></span>
    </div>

<!--atributo ciudad-->

    <div class="form-group">
        <label asp-for="cliente.ciudad.nombreCiudad" class="control-label"></label>
        <input asp-for="cliente.ciudad.nombreCiudad" class="form-control"/>
        <span asp-validation-for="cliente.ciudad.nombreCiudad" class="text-danger"></span>
    </div>



<!--Asignar Id del cliente a editar -->

    <input type="hidden" asp-for="cliente.clienteId"/>

<!--botón editar-->

      <div class="form-group">
        <input type="submit" value="Editar" class="btn btn-primary"/>
    </div>

</form>




